@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
    background-color: #ffffff;
}

/* .header-container {
    display: flex;
    justify-content: center;
} */

.header-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.left-options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4rem;
    font-weight: 300;
    margin: 20px 0;
    color: #111827;
}

.subtitle {
    font-size: 3rem;
    font-weight: 300;
    margin: 20px 0;
    color: #111827;
}

.btn {
    font-size: 1.1rem;
    border: none;
    padding: 18px 40px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: #3B82F6;
    transition: background-color 0.3s;
    color: #F9FAFB;
    cursor: pointer;
}

.btn:hover {
    background-color: #2563EB;
}

.document-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

li {
    list-style: none;
}

.document-card {
    display: flex;
    align-items: center;
    height: 46px;
    width: 300px;
    text-decoration: none;
    color: #4a4a4b;
    padding: 0 20px;
    border-radius: 12px;
    list-style: none;
    background-color: #ececec;
}

.document-card:hover {
    background-color: #e6eeff;
}

.document-title {
    border: none;
    outline: none;
    color: #4a4a4b;
    font-size: 1rem;
}

.back-btn {
    text-decoration: none;
}

.delete-btn {
    background-color: transparent;
    border: solid 2px #d62c2c;
    border-radius: 50%;
    padding: 3px;
    margin-right: 30px;
    stroke: #d62c2c;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d62c2c;
    stroke: #ffffff;
}

.document {
    height: 80vh;
    width: 60vw;
    padding: 10px;
    resize: none;
}

.document-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background-color: #e6eeff;
}

.input-form {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}